# .clang-format configuration
BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
ColumnLimit: 120
UseTab: Never
BreakBeforeBraces: Allman
AlignAfterOpenBracket : Align
AlignConsecutiveAssignments: AcrossEmptyLinesAndComments
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AlignEscapedNewlines : Left