[submodule "deps/microzig"]
	path = deps/microzig
	url = git@github.com:FranciscoLlobet/microzig.git
[submodule "csrc/system/FreeRTOS-Kernel"]
	path = csrc/system/FreeRTOS-Kernel
	url = git@github.com:FranciscoLlobet/FreeRTOS-Kernel.git
[submodule "csrc/utils/jsmn"]
	path = csrc/utils/jsmn
	url = git@github.com:FranciscoLlobet/jsmn.git
[submodule "csrc/sensors/BMA2-Sensor-API"]
	path = csrc/sensors/BMA2-Sensor-API
	url = git@github.com:FranciscoLlobet/BMA2-Sensor-API.git
[submodule "csrc/sensors/BMM150-Sensor-API"]
	path = csrc/sensors/BMM150-Sensor-API
	url = git@github.com:FranciscoLlobet/BMM150-Sensor-API.git
[submodule "csrc/sensors/BMG160_driver"]
	path = csrc/sensors/BMG160_driver
	url = git@github.com:FranciscoLlobet/BMG160_driver.git
[submodule "csrc/sensors/BME280_driver"]
	path = csrc/sensors/BME280_driver
	url = git@github.com:FranciscoLlobet/BME280_driver.git
[submodule "csrc/sensors/BMI160_driver"]
	path = csrc/sensors/BMI160_driver
	url = git@github.com:FranciscoLlobet/BMI160_driver.git
[submodule "csrc/crypto/mbedtls"]
	path = csrc/crypto/mbedtls
	url = git@github.com:FranciscoLlobet/mbedtls.git
[submodule "csrc/connectivity/wakaama"]
	path = csrc/connectivity/wakaama
	url = git@github.com:FranciscoLlobet/wakaama.git
[submodule "csrc/connectivity/paho.mqtt.embedded-c"]
	path = csrc/connectivity/paho.mqtt.embedded-c
	url = git@github.com:FranciscoLlobet/paho.mqtt.embedded-c.git
[submodule "csrc/connectivity/picohttpparser"]
	path = csrc/connectivity/picohttpparser
	url = https://github.com/FranciscoLlobet/picohttpparser.git
[submodule "csrc/mcuboot/--force"]
	path = csrc/mcuboot/--force
	url = https://github.com/FranciscoLlobet/mcuboot.git
[submodule "toolchain/picolibc"]
	path = toolchain/picolibc
	url = https://github.com/FranciscoLlobet/picolibc.git
[submodule "csrc/system/gecko_sdk"]
	path = csrc/system/gecko_sdk
	url = git@github.com:FranciscoLlobet/gecko_sdk.git
